[submodule "submodules/lodepng"]
	path = submodules/lodepng
	url = https://github.com/JeffIrwin/lodepng
[submodule "submodules/colormaps"]
	path = submodules/colormaps
	url = https://github.com/JeffIrwin/colormaps
[submodule "submodules/bat"]
	path = submodules/bat
	url = https://github.com/JeffIrwin/bat
[submodule "submodules/colormapper"]
	path = submodules/colormapper
	url = https://github.com/JeffIrwin/colormapper
