[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/JeffIrwin/json
[submodule "submodules/lodepng"]
	path = submodules/lodepng
	url = https://github.com/JeffIrwin/lodepng
[submodule "submodules/pugixml"]
	path = submodules/pugixml
	url = https://github.com/JeffIrwin/pugixml
[submodule "submodules/colormaps"]
	path = submodules/colormaps
	url = https://github.com/JeffIrwin/colormaps
[submodule "submodules/bat"]
	path = submodules/bat
	url = https://github.com/JeffIrwin/bat
[submodule "submodules/colormapper"]
	path = submodules/colormapper
	url = https://github.com/JeffIrwin/colormapper
